@model RopeyDVDs.Models.Loan

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-danger text-center fw-bold" >Edit Laon</h2>
<div class="w-50 m-auto bg-secondary" style="padding: 20px 15px; border-radius: 5px ;">

    <h4>Loan</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LoanNumber" />
                <div class="form-group mx-1">
                    <label asp-for="LoanTypeNumber" class="control-label fw-bold text-white"></label>
                    <select asp-for="LoanTypeNumber" class="form-control bg-light" asp-items="ViewBag.LoanTypeNumber"></select>
                    <span asp-validation-for="LoanTypeNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 my-1">
                    <label asp-for="CopyNumber" class="control-label fw-bold text-white"></label>
                    <select asp-for="CopyNumber" class="form-control bg-light" asp-items="ViewBag.CopyNumber"></select>
                    <span asp-validation-for="CopyNumber" class="text-danger"></span>
                </div>
                <div class="form-groupmb-3 my-1">
                    <label asp-for="MemberNumber" class="control-label fw-bold text-white"></label>
                    <select asp-for="MemberNumber" class="form-control bg-light" asp-items="ViewBag.MemberNumber"></select>
                    <span asp-validation-for="MemberNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 my-1">
                    <label asp-for="DateOut" class="control-label fw-bold text-white"></label>
                    <input asp-for="DateOut" class="form-control bg-light"  />
                    <span asp-validation-for="DateOut" class="text-danger"></span>
                </div>
                <div class="form-groupmb-3 my-1">
                    <label asp-for="DateDue" class="control-label fw-bold text-white"></label>
                    <input asp-for="DateDue" class="form-control bg-light" />
                    <span asp-validation-for="DateDue" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 my-1">
                    <label asp-for="ReturnedDate" class="control-label fw-bold text-white"></label>
                    <input asp-for="ReturnedDate" class="form-control bg-light" />
                    <span asp-validation-for="ReturnedDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 my-1">
                    <label asp-for="Status" class="control-label fw-bold text-white"></label>
                    <input asp-for="Status" class="form-control bg-light" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group my-1">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class=" btn btn-info ms-lg-1">Back to List</a>
                </div>
            </form>
        </div>
    </div>
        
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
